language: php

sudo: false

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - nightly

before_script:
    - composer self-update
    - composer install --no-interaction --prefer-source --dev
